

.custom-style-carsouel{ 
 padding-left: 15%;
 padding-right: 15%;
/* margin-top: 60px; */
 animation: 2s ease-out 0s 1 growFromSmall;
}


.custom-caption-style{
  animation: 2s ease-out 0s 1 captionAnimation;
}




/* media attribute */

@media only screen and (max-width: 768px)and (min-width:0px) {

  .custom-style-carsouel{
    padding-left: 0%;
    padding-right: 0%; 
  }
}


/* Animations */


@keyframes captionAnimation{
    0% {
        transform:translateY(100px);
        opacity: 0;
      }
      100% {
        transform:translateY(0);
        opacity: 1;
      }
}
@keyframes growFromSmall{
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  