<div class="container-fluid custom-footer-style">
  <div class=" row footer">
    <!-- <div class="col-md-4 row footer-block">
     <h4> Information&Details</h4>
      
        login <br>
        register <br>
        Download <br>
        Privacy

      
    </div> -->
    <!-- <div class="col-md-4 footer-block">
        <h4> Information&Details</h4>
        login <br>
        register <br>
        Download <br>
        Privacy
    </div>
    <div class="col-md-4 footer-block">
        <h4> Information&Details</h4>
        login <br>
        register <br>
        Download <br>
        Privacy
     </div> -->
     <div class="col-xs-12 line-container">
        <hr class="horizontal-line line-one">
        <p>&copy; Department Of Computing And Information Systems Sabargamuwa University of Sri Lanka</p>
        <hr class="horizontal-line line-two">
     </div>
     
     <div class="col-xs-12 social-media-icon-container">
        
        
         <a href="http://facebook.com" class="fa fa-facebook social-media-icon"></a>
         <a href="#" class="fa fa-instagram social-media-icon"></a>
         <a href="#" class="fa fa-github social-media-icon"></a>
         <a href="#" class="fa fa-google-plus social-media-icon"></a>
         <a href="#" class="fa fa-twitter social-media-icon"></a>
         <h5 class="social-media-caption">Stay connected with us</h5>
     </div>
  </div>
 
    
</div>