<div class="container-fluid">
  <div class=" row footer">
    <div class="col-md-4 row footer-block">
     <h4> Information&Details</h4>
      
        login <br>
        register <br>
        Download <br>
        Privacy

      
    </div>
    <div class="col-md-4 footer-block">
        <h4> Information&Details</h4>
        login <br>
        register <br>
        Download <br>
        Privacy
    </div>
    <div class="col-md-4 footer-block">
        <h4> Information&Details</h4>
        login <br>
        register <br>
        Download <br>
        Privacy
     </div>
  </div>
</div>