<div class="custom-style-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-12 col-md-12 card short-profile">
          <div class="picture-section">

            <div class="col-xs-12 col-sm-12 col-md-12 picture-container">
              <img src="../../assets/5.jpg" alt="picture" class="img">
            </div>
          </div>



          <div class="data-section">
            <h2 class="short-profile-heading"> Sathira Umesh</h2>


            
              
           

          </div>
        </div>
      </div>

    </div>
    <div class="row info-section">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="card col-xs-12 col-sm-12 col-md-12 info-container ">
          <div class="well info"> 
              <div> First Name </div>
                <hr>
              <div>Last Name</div>
              <hr>


              <div> Birth Day </div>
                <hr>
              <div>University</div>
              <hr>
              <div>Faculty</div>
              <hr>
              <div>Department</div>
              <hr>

          </div>

          <div class="col-md-12 button-conatiner">
            <button mat-raised-button class="custom-btn-color">Edit</button>
          </div>
          

          
          
        </div>
         



        



      </div>
    </div>
  </div>
</div>