<div class="custom-spacer">
  <div class="container">
    <div class="row">
      <h1>User Profile</h1><br>
      <div class="example-container">
         
        <div class="col-lg-12 card">
            <mat-accordion *ngFor="let user of usersList">
         
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                
                    <mat-panel-title>
                      
                      <img src="../assets/images/user2.jpg" alt="user">
                    </mat-panel-title>
                  
                    <mat-panel-description>
                   <!-- {{user.first_name}}  <br><br> -->
                   {{user.email}}<br><br>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="mat-expansion-panel-body">
          
                      <div _ngcontent-c9="" class="jumbotron ">
                        
                            <div class="col-md-6">
                                <i _ngcontent-c9="" class="fa fa-user"> &nbsp;</i>

                                Personal Details <br>
                                <mat-divider></mat-divider><br>
                                <!-- First Name:   {{user.first_name}} <br>
                                Last Name:   {{user.last_name}} <br> -->

                                BOD: <br>
                                Gender <br><br>
                            </div>
                            <div class="col-md-6">
                                <i _ngcontent-c9="" class="fa fa-user"> &nbsp;</i>

                                University Details <br>
                                <mat-divider></mat-divider><br>
                                <!-- Batch:{{user.batch}} <br> -->
                                <!-- <div *ngIf="user.faculty.name">
                                  Faculty: {{user.faculty.name}} <br>
                                </div> -->
                                <!-- Faculty: {{user.faculty.name}} <br>
                               
                                <!-- Department:{{user.department.name}} <br>
                                Degree program :{{user.degree.name}}<br><br> -->

                            </div>
                         
                          <button _ngcontent-c9="" class="btn btn-danger">Delete</button>
                          <button _ngcontent-c9="" class="btn btn-success ">Edit</button>
                      </div>
                      
                    </div>
                     
                      
                   </mat-expansion-panel>
               
              </mat-accordion>
         
        </div>
      
    </div>
  </div>

</div>
