<div class="col-xs-12 col-sm-12 col-md-12">

  <div class="card col-xs-12 col-sm-12 col-md-12 info-container ">
    <div class="well info">
      <div> First Name </div>
      <hr>
      <div>Last Name</div>
      <hr>


      <div> Birth Day </div>
      <hr>
      <div>University</div>
      <hr>
      <div>Faculty</div>
      <hr>
      <div>Department</div>
      <hr>

    </div>

    <div class="col-md-12 button-conatiner">
      <button mat-raised-button class="custom-btn-color" (click)="userEdit(id)">Edit</button>
    </div>
    
  </div>
</div>