<div class="container-fluid custom-style-container">

  <div class="row">
    <div class="col-md-12">

      <div class="col-md-12 button-container">
      <button class="col-md-2" mat-raised-button color="primary" (click)="addEvent()">Add evevnt</button>
    </div>

    </div>
  </div>

  <div class="row">

  

    <div class="col-xs-12 col-sm-12 col-md-4 custom-palet-style">
      <app-topevents></app-topevents>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>