<div class="container-fluid container-fluid-style">
  <div class="row header">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow slideInLeft title">
      <h1 class="wow fadeInUp" data-wow-delay="1s">About Us.</h1>
      <p>Sabaragamuwa University of Sri Lanka, from its inception in 1996, 
        has for more than one and a half decades dedicated its mission towards 
        nurturing scholars who could contribute to society, by broadening knowledge
         paradigms and imparting it to new generations of students.</p>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 image">
        
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 info">
      <p class="layerone">The Sabaragamuwa University of Sri Lanka which is well known for its natural
         beauty has completed 16 years of operation. Within this short period of time, the university has
          become a center of academic excellence in higher education and has reward significant 
          achievements in teaching, research & other key areas within the higher educational system. 
          As one of the fastest growing universities, it inculcates a sense of social 
          responsibility, service & commitment to the democratic values of the society, both locally 
          & internationally among its students.
      </p>
      <p class="layertwo"  >
        At present, Sabaragamuwa University has 6 main faculties including Faculty of Applied 
        Sciences, Faculty of Geomatics, Faculty of Agricultural Sciences, Faculty of Management
         Studies, Faculty of Social Sciences & Languages and Faculty of Graduate Studies.
      </p>

    </div>
  </div>

  <div class="row wow slideInLeft imgset">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgone">
       <img src="../../assets/susl1.jpg" alt="Image" class="img-responsive">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgwo">
       <img src="../../assets/susl2.jpg" alt="Image" class="img-responsive">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgthree">
       <img src="../../assets/susl3.jpg" alt="Image" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 info">
      <p class="layerone">SUSL also has several other institutes & centers 
        which are in great demand for both the undergraduates & postgraduates.
     </p>
     <p class="layertwo">SUSL tends to encourage a close relationship between university 
       and its alumni. With that they can increase alumni interest towards university events
        affairs and also build a relationship among them self. University can involve them 
       for the future developments and betterment of the university and also 
       alumni can also get benefits in return.
     </p>
    </div>
  </div>
</div>


