*{
    
}
.container-fluid-style{
 margin-top: 40px;
}

.header{
    height: 500px;
    padding: 50px;
    background-image: url(../../assets/appside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
    
}

.image{
    padding: 50px;
    
    
    
    /*background-attachment: fixed;*/
    height: 300px;
   
  
}

.image img{
    width: 100%;
    
}

.info{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 50px;
}

.imgset img{
    height: 350px;
    width: 100%;
  
    
}

.title h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: white;
    border-bottom:2px solid white;
    padding-bottom: 20px;
    margin-left: 40px;
}

.title p {
    margin-left: 40px;
    padding-top: 40px;
    font-size: 20px;
    color: white;
}

.imgset{
    padding-left: 100px;
    padding-right: 100px;
}
