*{
    
}
.container-fluid-style{
 margin-top: 40px;
}

.header{
    height: 500px;
    padding: 50px;
    background-image: url(../../assets/appside.jpg);

   
	
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
    
}

.image{
    padding: 50px;
    
    
    
    /*background-attachment: fixed;*/
    height: 300px;
   
  
}

.image img{
    width: 100%;
    
}

.info{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 50px;
}

.imgset img{
    height: 350px;
    width: 100%;
  
    
}

.title h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: white;
    border-bottom:2px solid white;
    padding-bottom: 20px;
    margin-left: 40px;
}

.title p {
    margin-left: 40px;
    padding-top: 40px;
    font-size: 20px;
    color: white;
}

.imgset{
    padding-left: 100px;
    padding-right: 100px;
}


@media only screen and (max-width:500px){
    .header{
        padding: 0px;
        margin-bottom: 20px;
    }
    .title h1{
        font-size: 50px;
    }

    .title p{
        font-size: 18px;
    }

    .info{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .title{
        padding-right: 40px;
    }

    .image{
        height: 5px;
    }
    .imgset{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .imgset img{
       height:200px;
       padding-bottom: 20px;
    }

}

@media only screen and (min-width:768px){
     .title h1{
        font-size: 40px;
    }

    .title p{
        font-size: 14px;
    }

    .info{
        font-size: 14px;

    }

    .imgset img{
       height:180px;
    }

    .header{
        padding-left: 20px;
    }

    .info{
        padding-left: 70px;
        padding-right: 70px;
    }

     .imgset{
        padding-left: 50px;
        padding-right: 50px;
        
    }
}

@media only screen and (min-width:1024px){
     .title h1{
        font-size: 80px;
    }

    .title p{
        font-size: 20px;
    }

    .info{
        font-size: 18px;
    }

    .imgset img{
       height:250px;
    }
}





