<!-- heading section -->
<div class="container-fluid container-fluid-style">
  <div class="row">
    <h1 class="col-md-12 header">WELCOME TO A SUCCESFULL FUTURE</h1>
  </div>
</div>
<!-- the body pallet -->
<div class="container-fluid">

  <div class="row">
      <div class="col-md-4 navigation-pallet pallet" >
        <div class="col-md-12 nav-card ">
            <ul class="nav navbar nav-option">
              <li><button mat-raised-button color="primary" class="login-btn col-sm-12 col-md-12">ALL</button></li>
              <li><button mat-raised-button color="primary" class="login-btn col-md-12">IT</button></li>
              <li><button mat-raised-button color="primary" class="login-btn col-md-12">MANAGMENT</button></li>
              <li><button mat-raised-button color="primary" class="login-btn col-md-12">SPORT</button></li>
              <li><button mat-raised-button color="primary" class="login-btn col-md-12">OTHER</button></li>
            </ul>
            
        </div>
        <div class="col-md-12 recent-carrers card">
          <h4>Recent careers</h4>
        </div>
      </div>
      <div class="col-md-8 user-pallet pallet">
          <div class="col-md-12 pallet-card ">
              <div>
                <mat-card class="col-md-6 car">
                  <div class="col-md-6">
                    <img src="../../assets/2..jpg" width=100% alt="">
                  </div>
                  <div class="col-md-6">
                    <h3>Jobtitle</h3>
                    <h4>companyName</h4>
                    <h5>time</h5>
                  </div>
                </mat-card>
              </div>

              <div>
                  <mat-card class="col-md-6 car">
                    <div class="col-md-6">
                      <img src="../../assets/2..jpg" width=100% alt="">
                    </div>
                    <div class="col-md-6">
                      <h3>Jobtitle</h3>
                      <h4>companyName</h4>
                      <h5>time</h5>
                    </div>
                  </mat-card>
                </div>

                <div>
                    <mat-card class="col-md-6 car">
                      <div class="col-md-6">
                        <img src="../../assets/2..jpg" width=100% alt="">
                      </div>
                      <div class="col-md-6">
                        <h3>Jobtitle</h3>
                        <h4>companyName</h4>
                        <h5>time</h5>
                      </div>
                    </mat-card>
                  </div>
          </div>
      </div>
  </div>
  

</div>
