<div class="container-fluid custom-style">
  <div class="row">
    <div class="col-md-4 card">
      <mat-list role="list">
        <mat-list-item  role="listitem">Event &nbsp;
            <button mat-raised-button color="primary" (click)="showEvent()">Show Events</button>&nbsp;
            <button mat-raised-button color="primary" (click)="addEvent()">Add Events</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">User</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Item 3</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>