

.user-heading{
    background-color: dodgerblue;
    margin:0px;
    height:40px;
    color:white;
    padding:10px;
    text-align: center;
}

.event-heading{
    background-color: firebrick;
    margin:0px;
    height:40px;
    color:white;
    padding:10px;
    text-align: center;
}
.event-card{
    padding: 0px;
    min-height: 560px;
    background-size:100% 100%;
    background-repeat: no-repeat;

}
.user-card{
    padding:0px;
    min-width: 560px;
    background-size:100% 100%;
    background-repeat: no-repeat;
   
}

.user-panelone img{
    width: 30%;
    height: 30%;
   
}

.user-paneltwo img{
     width: 30%;
    height: 30%;

}

.userone{
     border-bottom: 2px solid dodgerblue;
     padding-bottom: 35px;
      padding-top: 35px;
}

.userone p{
    padding-left: 15px;
    display: inline-block;
    color: gray;
}



.usertwo{
     padding-top: 35px;
     border-bottom: 2px solid dodgerblue;
     padding-bottom: 35px;
}

.usertwo p{
    padding-left: 15px;
    display: inline-block;
    color: gray;
}

.userthree{
     border-bottom: 2px solid dodgerblue;
     padding-bottom: 35px;
      padding-top: 35px;
}

.userthree p{
    padding-left: 15px;
    display: inline-block;
    color: gray;
}



.userfour{
     border-bottom: 2px solid dodgerblue;
     padding-bottom: 35px;
      padding-top: 35px;
}

.userfour p{
    padding-left: 15px;
    display: inline-block;
    color: gray;
}

.userfive{
     border-bottom: 2px solid dodgerblue;
     padding-bottom: 35px;
      padding-top: 35px;
}

.userfive p{
    padding-left: 15px;
    display: inline-block;
    color: gray;
}

.admin-home-container{

    margin-top:40px;
}

.user-paneltwo button {

  border-radius: 4px;
  background-color: dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) {
 .user-paneltwo button{
       margin-left: 15px;
       margin-top: 30px; 
    }
}

@media screen and (min-width: 360px) {
 .user-paneltwo button{
       margin-left: 30px;
       margin-top: 30px; 
    }
}

@media screen and (min-width: 375px) {
 .user-paneltwo button{
       margin-left: 35px;
       margin-top: 30px; 
    }
}

@media screen and (width: 412px) {
 .user-paneltwo button{
       margin-left: 60px;
       margin-top: 30px; 
    }
}


@media screen and (min-width: 414px) {
 .user-paneltwo button{
       margin-left: 55px;
       margin-top: 30px; 
    }


}

@media screen and (min-width: 768px) {
 .user-paneltwo button{
       margin-left: 10px; 
       margin-top: 40px;
    }
}

/*@media screen and (min-width: 1024px) {
 .user-paneltwo button{
       margin-left: 80px;
       margin-top: 80px; 
    }
}*/

@media screen and (min-width: 1366px) {
 .user-paneltwo button{
       margin-left: 80px;
       margin-top: 80px; 
    }
}

.user-paneltwo button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.user-paneltwo button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.user-paneltwo button:hover span {
  padding-right: 25px;
}

.user-paneltwo button:hover span:after {
  opacity: 1;
  right: 0;
}

.event-panelone{
    text-align: center;
    color: gray;
}

.event-paneltwo{
    text-align: center;
    color: gray;
}

.event-panelone img{
    width: 70%;
    height: 70%;
}

.event-paneltwo img{
    width: 70%;
    height: 70%;
}

.eventone{
     border-bottom: 2px solid firebrick;
     padding-bottom: 15px;
      padding-top: 15px;
}

.eventtwo{
     border-bottom: 2px solid firebrick;
     padding-bottom: 15px;
      padding-top: 15px;
}

.eventthree{
     border-bottom: 2px solid firebrick;
     padding-bottom: 15px;
      padding-top: 15px;
}

.eventone p {
    padding-top: 10px;
}

.eventtwo p{
    padding-top: 10px;
}

.eventthree p{
    padding-top: 10px;
}

.event-paneltwo button {

  border-radius: 4px;
  background-color: firebrick;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 75px;
   margin-bottom: 25px;
}

.event-paneltwo button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.event-paneltwo button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.event-paneltwo button:hover span {
  padding-right: 25px;
}

.event-paneltwo button:hover span:after {
  opacity: 1;
  right: 0;
}