<div class="col-xs-12 col-sm-12 col-md-12 admin-home-container">

  <div class=" col-xs-12 col-sm-12 col-md-6 event-card-container">

    <div class=" col-xs-12 col-md-12 col-md-12 card event-card">
      <h4 class="event-heading">Events</h4>
      <br>
      <br>
      <br>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well event-panelone" *ngFor="let item of userList |slice:0:3;">
        <div class="col-md-12 col-sm-12 eventone">
          <img src="../../assets/event.png" alt="Image" class="">
          <br>
          <br>
          <br>
          <div>
            
            Event One
          </div>
        </div>

      </div>
      
    </div>

  </div>

  

  <div class="col-xs-12 col-sm-12 col-md-6  users-card-container">


    
    <div class="col-xs-12 col-md-12 col-sm-12">


      <h4 class="user-heading">Recent Users</h4>
        <br>
        <br>
        <br>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well user-panelone" *ngFor="let item of (userList|slice:userList.length - 4);">
        <div class="col-md-12 col-sm-12 userone">
          <img src="../../assets/user.png" alt="Image" >
          <br>
          <br>
          <br>
          <div *ngIf="item.first_name">
            {{"First Name : "+item.first_name}}
          </div>
            <div *ngIf="item.email">
              {{"Email : "+item.email}}
            </div>
          
            
          
            

        </div>




        
      </div>

    </div>
    <!-- <div class="col-md-12 col-xs-12 col-sm-12 card user-card">
      <h4 class="user-heading">Recent Users</h4>

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 user-panelone" *ngFor="let item of (userList|slice:userList.length - 4);">
        <div class="col-md-12 col-sm-12 userone">
          <img src="../../assets/user.png" alt="Image" class="">
          
              {{item.email}}
          


        </div>




        
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
          <button class="button" mat-raised-button color="warn">
            <span>See more </span>
          </button>
        </div>
    </div> -->
  </div>
  
  
</div>

