<div class="col-xs-12 col-sm-12 col-md-12 admin-home-container">

  <div class=" col-xs-12 col-sm-6 col-md-6 event-card-container">
    <div class="col-md-12 card event-card">
      <h4 class="event-heading">Events</h4>
      <div class="col-lg-6 col-md-12 col-sm-6 event-panelone">
        <div class="col-md-12 col-sm-12 eventone">
          <img src="../../assets/event.png" alt="Image" class="">
          <p><b>Event one</b><br>
          <i> Location</i></p>
        </div>
        <div class="col-md-12 col-sm-12 eventtwo">
          <img src="../../assets/event.png" alt="Image" class="">
          <p><b>Event two</b><br>
          <i> Location</i></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-6 event-paneltwo">
        <div class="col-md-12 col-sm-12 eventthree">
          <img src="../../assets/event.png" alt="Image" class="">
          <p><b>Event three</b><br>
          <i> Loaction</i></p>
        </div>
        <div class="col-md-12 col-sm-12">
          <button class="button"><span>See more </span></button>
          </div>
      </div>
    </div>
  </div>

  <div class=" col-xs-12 col-sm-6 col-md-6  users-card-container">
    <div class="col-md-12 card user-card">
      <h4 class="user-heading">Recent Users</h4>
      <div class="col-lg-6 col-md-12 col-sm-6 user-panelone">
        <div class="col-md-12 col-sm-12 userone">
          <img src="../../assets/user.png" alt="Image" class="">
          <p><b>  Name</b><br>
          <i> Designation</i></p>
          </div>
          <div class="col-md-12 col-sm-12 usertwo">
            <img src="../../assets/user.png" alt="Image" class="">
            <p><b>  Name</b><br>
            <i> Designation</i></p>
          </div>
          <div class="col-md-12 col-sm-12 userthree">
            <img src="../../assets/user.png" alt="Image" class="">
            <p><b>  Name</b><br>
            <i> Designation</i></p>
          </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-6 user-paneltwo">
        <div class="col-md-12 col-sm-12 userfour">
            <img src="../../assets/user.png" alt="Image" class="">
            <p><b>  Name</b><br>
            <i> Designation</i></p>
          </div>
          <div class="col-md-12 col-sm-12 userfive">
            <img src="../../assets/user.png" alt="Image" class="">
            <p><b>  Name</b><br>
            <i> Designation</i></p>
          </div>
          <div class="col-md-12 col-sm-12">
          <button class="button"><span>See more </span></button>
          </div>
      </div>
    </div>
  </div>

 <!--<div class="col-xs-12 col-sm-12 col-md-12 summary-card-container">
    <div class="col-md-12 card summary-pannel">
      <h4 class="summary-heading">Summary</h4>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Event</th>
              <th>Day</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of eventList">
              <td>_=.</td>
              <td>{{item.eventName}}</td>
              <td>{{item.date}}</td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>!-->
</div>