<header>
  <div class="container-fluid top-header">
    <div class="heading">
      <h1 class="wow fadeInUp">News</h1>
      <p class="wow fadeInUp" data-wow-delay="1s">Welcome to our news page...</p>
    </div>
  </div>
</header>



<div class="container-fluid left-news">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class=" col-xs-12 col-sm-4 col-md-4 wow slideInLeft top-news">
          <div class="card ">
            <h1 class="top-post-head">Top posts</h1>
          </div>
      </div>

      <div class="cona  wow slideInRight col-xs-12 col-sm-8 col-md-8 " onclick="location.href='';" style="cursor:pointer;">
       <div class="place col-sm-12 col-md-12 ">
          <div class="recent-header-container">
              <h1 class="recent-header">RECENT POSTS</h1>
            </div>
            <div class="image-container">
            </div>
       </div>
        



        <!-- <div class="container asp">
              <div class="container-fluid para">

                <h1>Lorem Ipsum</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                  to make aype specimen book. It has survived not only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged. It was popularised i </p>
                <button class="btn btn-primary">Read more..</button>
              </div>
              <div class="blur">
                <img class="image-fluid" src="../../assets/images/img1.jpg" alt="recent-news">
              </div>
            </div> -->



      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">

        <div class=" c col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>

        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".25s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>




        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".5s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>

        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".75s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>


      </div>


      <div class="col-xs-12 col-sm-12 col-md-12">

        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>

        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".25s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>




        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".5s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>

        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-6 wow bounceInUp" data-wow-delay=".75s">
          <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate-box">
            <div class="">
              <a href="single.html">
                <img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <span class="fh5co-meta">
              <a href="single.html">Food &amp; Drink</a>
            </span>
            <h2 class="fh5co-article-title">
              <a href="single.html">We Eat and Drink All Night</a>
            </h2>
            <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
          </article>
        </div>



      </div>

    </div>



  </div>
</div>