<header>
  <div class="container-fluid top-header">
<div class="heading">
  <h1 class="wow fadeInUp">News</h1>
  <p class="wow fadeInUp" data-wow-delay="1s">Welcome to our news page...</p>
</div>
  </div>
</header>



<div class="container-fluid left-news">
<div class="row fh5co-post-entry">
          <div class="col-lg-9 col-md-9 left-side">
            
            <div class="cona" onclick="location.href='';" style="cursor:pointer;">
               <div class="wow slideInLeft">
              <div class="rec">
                <div class="row">
               
                <h1>RECENT POSTS</h1>
              </div>
            </div>
                <div class="row">
                  
                  <div class="container-fluid recent">
                  <img class="image-fluid" src="../../assets/images/img1.jpg" alt="recent-news">
                  
                  <div class="container asp">
                      <div class="container-fluid para">
                  
                          <h1>Lorem Ipsum</h1>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                             dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make aype specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised i </p>
                         <button  class="btn btn-primary">Read more..</button>
                            </div>
                          <div class="blur"><img class="image-fluid" src="../../assets/images/img1.jpg" alt="recent-news"></div>
                  </div>
                  
            </div>


              </div>
            </div>
              
               
            </div>

            <div class="wow bounceInUp">
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                    <figure>
                      <a href="single.html"><img src="../../assets/images/pic_1.jpg" alt="Image" class="img-responsive"></a>
                    </figure>
                    <span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
                    <h2 class="fh5co-article-title"><a href="single.html">We Eat and Drink All Night</a></h2>
                    <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                  </article>
            </div>
          <div  class="wow bounceInUp" data-wow-delay=".25s" >
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                  <figure>
                    <a href="single.html"><img src="../../assets/images/pic_2.jpg" alt="Image" class="img-responsive"></a>
                  </figure>
                  <span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
                  <h2 class="fh5co-article-title"><a href="single.html">Beef Steak at Guatian Restaurant</a></h2>
                  <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                </article>
          </div>
          <div  class="wow bounceInUp" data-wow-delay=".75s" >
              <div class="clearfix visible-xs-block"></div>
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                <figure>
                  <a href="single.html"><img src="../../assets/images/pic_3.jpg" alt="Image" class="img-responsive"></a>
                </figure>
                <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
                <h2 class="fh5co-article-title"><a href="single.html">An Overlooking River at the East Cost</a></h2>
                <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
              </article>
          </div>
          <div  class="wow bounceInUp" data-wow-delay="1s" >
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                  <figure>
                    <a href="single.html"><img src="../../assets/images/pic_4.jpg" alt="Image" class="img-responsive"></a>
                  </figure>
                  <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
                  <h2 class="fh5co-article-title"><a href="single.html">A Wildlife In The Mountain of India</a></h2>
                  <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                </article>
          </div>
             <div class="wow bounceInUp" data-wow-delay="1.50s">
                <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
                <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                  <figure>
                    <a href="single.html"><img src="../../assets/images/pic_5.jpg" alt="Image" class="img-responsive"></a>
                  </figure>
                  <span class="fh5co-meta"><a href="single.html">Photography</a></span>
                  <h2 class="fh5co-article-title"><a href="single.html">We Took A Photo</a></h2>
                  <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                </article>
             </div>
              
          
          <div  class="wow bounceInUp" data-wow-delay=".50s" >
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                  <figure>
                    <a href="single.html"><img src="../../assets/images/pic_6.jpg" alt="Image" class="img-responsive"></a>
                  </figure>
                  <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
                  <h2 class="fh5co-article-title"><a href="single.html">A Modernize Huge and Beautiful Building</a></h2>
                  <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                </article>
          </div>
          <div  class="wow bounceInUp" data-wow-delay=".75s" >
              <div class="clearfix visible-xs-block"></div>
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                <figure>
                  <a href="single.html"><img src="../../assets/images/pic_7.jpg" alt="Image" class="img-responsive"></a>
                </figure>
                <span class="fh5co-meta"><a href="single.html">Food &amp; Drinks</a></span>
                <h2 class="fh5co-article-title"><a href="single.html">Enjoying the Native Juice Drink in Brazil</a></h2>
                <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
              </article>
          </div>
          <div  class="wow bounceInUp" data-wow-delay="1s" >
              <article class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-xxs-12 animate-box">
                  <figure>
                    <a href="single.html"><img src="../../assets/images/pic_8.jpg" alt="Image" class="img-responsive"></a>
                  </figure>
                  <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
                  <h2 class="fh5co-article-title"><a href="single.html">Boat Travel in The Vietnam River</a></h2>
                  <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
                </article>
          </div>
          
    </div>
    <div class="col-lg-3 col-md-3 right-news">
<section class="features">
  <h3 class="wow slideInRight">TOP NEWS</h3>
  <div class="wow slideInRight">
  <article class="col-lg-12 col-md-12 col-sm-6 col-xs-12 col-xxs-12 animate-box">
    <figure>
      <a href="single.html"><img src="../../assets/images/pic_8.jpg" alt="Image" class="img-responsive"></a>
    </figure>
    <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
    <h2 class="fh5co-article-title"><a href="single.html">Boat Travel in The Vietnam River</a></h2>
    <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
  </article>
</div>
<div class="wow slideInRight" data-wow-delay="2s">
    <article class="col-lg-12 col-md-12 col-sm-6 col-xs-12 col-xxs-12 animate-box">
        <figure>
          <a href="single.html"><img src="../../assets/images/pic_8.jpg" alt="Image" class="img-responsive"></a>
        </figure>
        <span class="fh5co-meta"><a href="single.html">Travel</a>, <a href="single.html">Style</a></span>
        <h2 class="fh5co-article-title"><a href="single.html">Boat Travel in The Vietnam River</a></h2>
        <span class="fh5co-meta fh5co-date">March 6th, 2016</span>
      </article>
</div>
  

</section>
    </div>
</div>
</div>

    <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
<div class="container">
  <footer id="fh5co-footer">
    <p><small>&copy; this is footer. All Rights Reserverd. <br> Designed by <a href="" target="_blank">News page</a>  Demo Images: <a href="" target="_blank">Unsplash</a></small></p>
  </footer>

</div>

