header{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0, 0, 0, 0.5)),url(../../assets/images/img1.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 25px;
    }
    .heading{
      text-align: center;
      margin-top: 200px;
      color: white;
    }
    .heading h1{
      font-size: 72px;
    }
    .heading p{
      font-size: 33px;
    }
    .top-post-head{
      margin:0px;
      text-align:center; 

    }

.card-two{

  box-shadow: 2px 2px 10px black;


}
    .recent-header{

      text-align: center;
      margin:0px;
    }
    .features{
      margin-top: 25px;
    
    }
    .features h3{
      margin-bottom: 50px;
      text-align: center;
      font-size: 36px;
    }
    .card{
      padding: 1px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      height:400px;

    }
    .cona{
      /* box-shadow: 2px 2px 10px black; */
      
      height: 400px;
     
      margin-bottom:30px;
    
    }
    
    .recent img{
      width: 92%;
      height: 400px;
      margin-left: 45px;
      margin-bottom: 5%;
      box-shadow: 2px 2px 10px black;
      
    }
    .recent{
      border: 1px sol
    }
    
    .para{
      
      position: absolute;
      top: 2%;
      left: 62%;
      margin-right: 7%;
      color: white;
      z-index: 3;
      margin-top: 9%;
      text-align: justify;
      border: 2px solid white;
      }
    
    .recent-header-container{

      height:10%;
    }
    .blur img{
      width: 100%;
      height: 65%;
      
    }
    .right-news{
      /* position:fixed; */
      box-shadow: 2px 2px 10px black;
      height: 25vh;
    
    }
    .left-side{
      box-shadow: 2px 2px 10px black; 
    }
    .image-container{
      height: 90%;
      background-image: url('../../assets/images/img1.jpg');
      background-size:100% 100%;
      background-repeat: no-repeat;
    }
    .top-news{
      /* padding-left:0px; */
      
    }

    .place{
      height:400px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding: 0px;
    }
    .blur{
      
      filter: blur(13px);
      width: 35%;
      height: 30%;
      position: absolute;
      margin-top: -38%;
      margin-left: 56%;
      overflow: hidden;
      border-bottom-color: aliceblue;
     }
     .para button{
     margin-left: 33%; 
     margin-top: 5%;
     margin-bottom: 5%;
     }
     
    
    .fh5co-post-entry article .fh5co-meta {
      font-size: 16px;
      font-family: "Roboto", arial, sans-serif;
      color: #999999;
      margin-bottom: 10px;
      display: block;
    }

    @media only screen and (max-width:767px){
      .card{
        /* padding-left:15px; */
      }

    }
    @media screen and (max-width: 480px) {
      .fh5co-post-entry article .fh5co-meta {
        margin-bottom: 10px;
      }
    }
    .fh5co-post-entry article .fh5co-meta.fh5co-date {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .fh5co-post-entry.single-entry .fh5co-article-title {
      font-size: 80px;
    }
    @media screen and (max-width: 992px) {
      .fh5co-post-entry.single-entry .fh5co-article-title {
        font-size: 56px;
      }
    }
    @media screen and (max-width: 768px) {
      .fh5co-post-entry.single-entry .fh5co-article-title {
        font-size: 34px;
      }
    }
    .fh5co-post-entry article {
      text-align: center;
      float: left;
      margin-bottom: 110px;
      padding-left: 3em;
      padding-right: 3em;
    }
    @media screen and (max-width: 1200px) {
      .fh5co-post-entry article {
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @media screen and (max-width: 992px) {
      .fh5co-post-entry article {
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @media screen and (max-width: 768px) {
      .fh5co-post-entry article {
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .fh5co-post-entry article a img {
      opacity: 1;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
    .fh5co-post-entry article a:hover img {
      opacity: .4;
    }
    .fh5co-post-entry article figure {
      margin-bottom: 30px;
    }
    .fh5co-post-entry article h2 {
      font-family: "Playfair Display", times, serif;
      font-size: 34px;
      color: #000;
      margin-bottom: 30px;
    }
    .fh5co-post-entry article h2 a {
      color: #000;
    }
    @media screen and (max-width: 992px) {
      .fh5co-post-entry article h2 {
        font-size: 26px;
      }
    }
    @media screen and (max-width: 768px) {
      .fh5co-post-entry article h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    .fh5co-post-entry article .fh5co-meta {
      font-size: 16px;
      font-family: "Roboto", arial, sans-serif;
      color: #999999;
      margin-bottom: 10px;
      display: block;
    }
    @media screen and (max-width: 480px) {
      .fh5co-post-entry article .fh5co-meta {
        margin-bottom: 10px;
      }
    }
    .fh5co-post-entry article .fh5co-meta.fh5co-date {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .fh5co-post-entry article .content-article {
      padding-top: 3em;
    }
    .fh5co-post-entry article .content-article a {
      text-decoration: underline;
    }
    .fh5co-post-entry article .content-article blockquote {
      border-left: none;
      padding-left: 0;
    }
    .fh5co-post-entry article .content-article blockquote p {
      font-family: "Playfair Display", times, serif;
      font-size: 27px;
      font-style: italic;
      line-height: 1.5;
    }
    .fh5co-post-entry article .content-article blockquote p cite {
      padding-top: 20px;
      display: block;
      font-size: 16px;
      font-style: normal;
      color: gray;
    }
    .fh5co-post-entry article .fh5co-highlight {
      border: 4px solid #f2f2f2;
      padding: 20px;
      width: 100%;
      margin-bottom: 30px;
    }
    .fh5co-post-entry article .fh5co-highlight.right {
      float: right;
      margin-left: 30px;
    }
    .fh5co-post-entry article .fh5co-highlight.left {
      float: left;
    }
    .fh5co-post-entry article .fh5co-highlight h4 {
      font-size: 14px;
      letter-spacing: 2px;
      color: #b3b3b3;
      text-transform: uppercase;
      font-family: "Roboto", arial, sans-serif;
    }
    .fh5co-post-entry article .fh5co-highlight p {
      font-family: "Playfair Display", times, serif;
      color: #000;
      font-size: 20px;
    }
    #fh5co-footer {
      padding: 3em 0;
      text-align: center;
    }
    