.heading{
text-align: center;
/* background-color: chocolate; */
width:60%;
height:15%;
margin: auto;
margin-top: 80px; 
animation: 2s ease-out 0s 1 slide-from-right;
font-family: 'Octin Prision';
    
}
.container-fluid-style{
  margin-top:20px; 
}

.pallet{
/* background-color: aqua; */
  padding-top: 3px; 
  /* height:120vh; */
}

.blog-pallet{
 margin-bottom:10vh;
 /* overflow: scroll; */
 animation: 2s ease-out 0s 1 opactiy-effect;  
}

.blog{
 box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
 margin-bottom:50px;
}

.content{
 margin:20px;
 text-align: justify;
 font-family: "roboto",Arial,sans-serif;
}

.card{
 padding-top:1px; 
 box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);   
}

.card-top-post{
 animation: 2s ease-out 0s 1 slide-from-right;  
}

.card-top-news{
 animation: 2s ease-out 0s 1 slide-from-right;
}

.recent-pallet{
 height: 100%;
}

.recent{
 margin-bottom:30px;    
}

.news-heading{
 text-align: center;   
}
.post-heading{
 text-align: center;
}
::-webkit-scrollbar {
 display: none;
}

/* media queries */
@media only screen and (max-width:991px) {
.blog-heading{
 text-align: center;
}

}

/* animations */
@keyframes slide-from-right{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }


}
@keyframes opactiy-effect{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }

    100%{
       
        opacity: 1;
        transform: translateX(0);
    }
}

