<!-- heading -->
    <div class="heading">
      <h1>WELCOME TO OUR BLOG</h1>
    </div>
 <!-- end of heading -->

    <div class="container-fluid container-fluid-style">
      <div class="row">
        <!-- blog pallet -->
        <div class=" col-sm-12 col-md-8 blog-pallet pallet">
            
            <div class="col-md-12 blog">
                <h1 class="blog-heading"col-md-12>LORUM IPSUM</h1>
                <h4 class="blog-heading">11 : 30 PM, 16th November 2017</h4>
                <img src="../../assets/2..jpg" alt="" width="100%">
                <p class="blog-content content">
                    LORUM IPSUM
                    11 : 30 PM, 16th November 2017
                    Fusce egestas facilisis lorem, in egestas massa sollicitudin at. Suspendisse potenti. Praesent ornare commodo quam, a tincidunt nulla tempor eget. Nam libero ligula, ultrices malesuada rutrum non, vestibulum eu libero. Proin sed enim eu lorem facilisis rhoncus. Aliquam erat volutpat....
                    
                    Posted: Lorum | Tagged: #Lorum, #Ipsum
                </p>
            </div>
              

            <div class="col-md-12 blog">
                <h1 class="blog-heading"col-md-12>LORUM IPSUM</h1>
                <h4 class="blog-heading">11 : 30 PM, 16th November 2017</h4>
                <img src="../../assets/2..jpg" alt="" width="100%">
                <p class="blog-content content">
                    LORUM IPSUM
                    11 : 30 PM, 16th November 2017
                    Fusce egestas facilisis lorem, in egestas massa sollicitudin at. Suspendisse potenti. Praesent ornare commodo quam, a tincidunt nulla tempor eget. Nam libero ligula, ultrices malesuada rutrum non, vestibulum eu libero. Proin sed enim eu lorem facilisis rhoncus. Aliquam erat volutpat....
                    
                    Posted: Lorum | Tagged: #Lorum, #Ipsum
                </p>
            </div>

        </div> 
        <!-- recent info pallet -->
        <div class="col-sm-12 col-md-4 recent-pallet pallet" >
          <div class="col-sm-6 col-md-12 top-news recent">
            <div class="card card-top-news">
                <h1 class="news-heading"col-md-12>Top News</h1>
                <h4 class="news-heading">11 : 30 PM, 16th November 2017</h4>
                <img src="../../assets/2..jpg" alt="" width="100%">
                <p class="recent-content content ">
                    LORUM IPSUM
                    11 : 30 PM, 16th November 2017
                    enti. Praesent ornare commodo quam, a tincidunt nulla tempor eget. Nam libero ligula, ultrices malesuada rutrum non, vestibulum eu libero. Proin sed enim eu lorem facilisis rhoncus. Aliquam erat volutpat....
                    
                    Posted: Lorum | Tagged: #Lorum, #Ipsum
                </p>
            </div>
            
          </div>
          <div class="col-sm-6 col-md-12 top-posts recent ">
            <div class="card card-top-post">
                <h1 class="post-heading"col-md-12>Top posts</h1>
                <h4 class="post-heading">11 : 30 PM, 16th November 2017</h4>
                <img src="../../assets/2..jpg" alt="" width="100%">
                <p class="recent-content content ">
                    LORUM IPSUM
                    11 : 30 PM, 16th November 2017
                    Fusce egestas facilisis lorem, in egestas massa sollicitudin at. Suspendisse potenti. Praesent ornare commodo quam, a tincidunt nulla tempor eget. Nam libero ligula, ultrices malesuada rutrum non, vestibulum eu libero. Proin sed enim eu lorem facilisis rhoncus. Aliquam erat volutpat....
                    
                    Posted: Lorum | Tagged: #Lorum, #Ipsum
                </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  