.content{
text-align: center;
padding:10px;
/*animation: 2s ease-out 0s 1 captionAnimation;*/
}

.info-card{
/* background-color: blueviolet; */
 padding: 0px;
 overflow: hidden;
}

.recent-info-pallet{
 padding: 0px;
}

.card-spec h2{
 text-align:center;
 margin-top:0;
}
.card{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition:1s;
 transform:scale(1);
 animation: 2s ease-out 0s 1 captionAnimation;
}

.card:hover{
 transition: 1s;
 transform: scale(1.1);
}

.spacer{
 height:50px;
}
 

/*@keyframes captionAnimation{
 0%{
    transform:translateY(100px);
     opacity: 0;
    }
100%{
    transform:translateY(0);
    opacity: 1;
    }
}*/

/*general styles*/

/*body{padding: 3em;background-color: #ccc;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}*/


/*slideshow styles*/


.info{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.info p{
  font-size: 18px;
  text-align: center;
}

.info h2{
  text-align: center;
}

.images{
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.image{
  padding: 0px;
  margin: 0px;
}

.image img{
  width: 100%;
}



.slider-2>li:nth-child(1){-webkit-animation:slider-2-1 10s linear infinite;animation:slider-2-1 10s linear infinite}
@-webkit-keyframes slider-2-1{0%{opacity:1}45%{opacity:1}50%{opacity:0}95%{opacity:0}100%{opacity:1}}
@keyframes slider-2-1{0%{opacity:1}45%{opacity:1}50%{opacity:0}95%{opacity:0}100%{opacity:1}}
.slider-2>li:nth-child(2){-webkit-animation:slider-2-2 10s linear infinite;animation:slider-2-2 10s linear infinite}
@-webkit-keyframes slider-2-2{0%{opacity:0}45%{opacity:0}50%{opacity:1}95%{opacity:1}100%{opacity:0}}
@keyframes slider-2-2{0%{opacity:0}45%{opacity:0}50%{opacity:1}95%{opacity:1}100%{opacity:0}}
.slider-3>li:nth-child(1){-webkit-animation:slider-3-1 15s linear infinite;animation:slider-3-1 15s linear infinite}
@-webkit-keyframes slider-3-1{0%{opacity:1}25%{opacity:1}30%{opacity:0}95%{opacity:0}100%{opacity:1}}
@keyframes slider-3-1{0%{opacity:1}25%{opacity:1}30%{opacity:0}95%{opacity:0}100%{opacity:1}}
.slider-3>li:nth-child(2){-webkit-animation:slider-3-2 15s linear infinite;animation:slider-3-2 15s linear infinite}
@-webkit-keyframes slider-3-2{0%{opacity:0}25%{opacity:0}30%{opacity:1}65%{opacity:1}70%{opacity:0}100%{opacity:0}}
@keyframes slider-3-2{0%{opacity:0}25%{opacity:0}30%{opacity:1}65%{opacity:1}70%{opacity:0}100%{opacity:0}}
.slider-3>li:nth-child(3){-webkit-animation:slider-3-3 15s linear infinite;animation:slider-3-3 15s linear infinite}
@-webkit-keyframes slider-3-3{0%{opacity:0}25%{opacity:0}65%{opacity:0}70%{opacity:1}95%{opacity:1}100%{opacity:0}}
@keyframes slider-3-3{0%{opacity:0}25%{opacity:0}65%{opacity:0}70%{opacity:1}95%{opacity:1}100%{opacity:0}}
.slider-4>li:nth-child(1){-webkit-animation:slider-4-1 20s linear infinite;animation:slider-4-1 20s linear infinite}
@-webkit-keyframes slider-4-1{0%{opacity:1}20%{opacity:1}25%{opacity:0}95%{opacity:0}100%{opacity:1}}
@keyframes slider-4-1{0%{opacity:1}20%{opacity:1}25%{opacity:0}95%{opacity:0}100%{opacity:1}}
.slider-4>li:nth-child(2){-webkit-animation:slider-4-2 20s linear infinite;animation:slider-4-2 20s linear infinite}
@-webkit-keyframes slider-4-2{0%{opacity:0}20%{opacity:0}25%{opacity:1}45%{opacity:1}50%{opacity:0}100%{opacity:0}}
@keyframes slider-4-2{0%{opacity:0}20%{opacity:0}25%{opacity:1}45%{opacity:1}50%{opacity:0}100%{opacity:0}}
.slider-4>li:nth-child(3){-webkit-animation:slider-4-3 20s linear infinite;animation:slider-4-3 20s linear infinite}
@-webkit-keyframes slider-4-3{0%{opacity:0}45%{opacity:0}50%{opacity:1}70%{opacity:1}75%{opacity:0}100%{opacity:0}}
@keyframes slider-4-3{0%{opacity:0}45%{opacity:0}50%{opacity:1}70%{opacity:1}75%{opacity:0}100%{opacity:0}}
.slider-4>li:nth-child(4){-webkit-animation:slider-4-4 20s linear infinite;animation:slider-4-4 20s linear infinite}
@-webkit-keyframes slider-4-4{0%{opacity:0}70%{opacity:0}75%{opacity:1}95%{opacity:1}100%{opacity:0}}
@keyframes slider-4-4{0%{opacity:0}70%{opacity:0}75%{opacity:1}95%{opacity:1}100%{opacity:0}}
.slider-2,.slider-3,.slider-4{position:relative;width:100%;height:100%}
.slider-2>li,.slider-3>li,.slider-4>li{position:absolute;height:100%;top:0;left:0;bottom:0;right:0}
.slider-2>li img,.slider-3>li img,.slider-4>li img{max-width:100%;max-height:100%}


.large-slider-wrapper{width:100%;height:500px;}
.slider-top>li:nth-child(1){background:url(../../assets/appside.jpg) no-repeat;background-size:contain}
.slider-top>li:nth-child(2){background:url(../../assets/ground.jpg) no-repeat;background-size:contain}
.slider-main>li:nth-child(1){background:url(../../assets/appside.jpg) no-repeat;background-size:contain}
.slider-main>li:nth-child(2){background:url(../../assets/ground.jpg) no-repeat;background-size:contain}
.slider-main>li:nth-child(3){background:url(../../assets/faculty.jpg) no-repeat;background-size:contain}
.slider-whatever>li:nth-child(1){background:url(../../assets/appside.jpg) no-repeat;background-size:contain}
.slider-whatever>li:nth-child(2){background:url(../../assets/ground.jpg) no-repeat;background-size:contain}
.slider-whatever>li:nth-child(3){background:url(../../assets/faculty.jpg) no-repeat;background-size:contain}
.slider-whatever>li:nth-child(4){background:url(../../assets/modahandiya.jpg) no-repeat;background-size:contain}
html,body,div,span,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
.container{
  margin:0px;
  width:100%;
  padding: 0px;
  }

.large-slider-wrapper{
  width: 100%;
  margin: 0px;
  padding:0px;
  background-size: cover;
  }

  

  .slider{
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  
  @media only screen and (max-width:768px){
    .image img{
      height: 350px;
    }
    .large-slider-wrapper{
        width:100%;
        height:300px !important;
    }
  
    .image{
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 40px;
        margin: 0px;
        
  }
  }




@media only screen and (max-width:1024px){
    .image img{
      height: 200px;
    }
    .large-slider-wrapper{
        width:100%;
        height:400px !important;
    }

    .image{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        
}
}

@media only screen and (max-width:1280px){
    .image img{
      height: 300px;
    }
    .large-slider-wrapper{
        width:100%;
        height:500px ;
    }
/*
    .image{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        
}*/
}

@media only screen and (max-width:1440px){
    .image img{
      height: 300px;
    }
    .large-slider-wrapper{
        width:100%;
        height:600px ;
    }
/*
    .image{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        
}*/
}







@media only screen and (max-width:2000px){
  .image img{
    height: 300px;
  }
  .large-slider-wrapper{
      width:100%;
      height:700px;
  }
/*
  .image{
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
      
}*/
}

@media only screen and (max-width:500px){
  .info{
     padding: 20px;
     text-align: justify;
    }
  .info h2{
    font-size: 24px;
    
  }
  .large-slider-wrapper{
    width:100%;
    height:180px !important;
    }

  .image{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin: 0px;
    
}

.image img{
  height: 200px;
}

}
