<div class="pos">
<div class="spacer"></div>
<!--<app-carsouel></app-carsouel>-->
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 slider">
<section class="slideshow">
  <div class="slideshow-container slide">
    <img src="../../assets/faculty.jpg" alt="Image" class="img-responsive">
    <img src="../../assets/modahandiya.jpg" alt="Image" class="img-responsive">
    <img src="../../assets/appside.jpg" alt="Image" class="img-responsive">
    <img src="../../assets/ground.jpg" alt="Image" class="img-responsive">
  </div>
</section>
</div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-3 info">
    <h2>SABARAGAMUWA UNNIVERSITY OF SRILANKA</h2>
    <p>SUSL tends to encourage a close relationship between university
       and its alumni. With that they can increase alumni interest towards 
       university events affairs and also build a relationship among them self.
        University can involve them for the future developments and betterment
         of the university and also alumni can also get benefits in return.
  </p>
  </div>
</div>

<div class="row images">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl1.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl2.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl3.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl4.jpg" alt="Image" class="img-responsive">
  </div>
</div>



<div class="content-one content">
  <h1 class>{{heading}}</h1>
  <p>{{mainContent}}</p>
</div>

<!--<div class="container-fluid">

    <div class="row recent-info-pallet">

        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
              <img src="../../assets/2..jpg" alt="image one" width=100%>
              <div class="card-spec">
                <h2>Blogs</h2>
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>News</h2>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>Events</h2>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>Careers</h2>
                </div>
              </div>
        </div>
      
      </div>
</div>-->


<div class="content-two content">
    
    <p>{{contentBelow}}</p>
  </div>

</div>

