<div class="pos">
<div class="spacer"></div>
<!--<app-carsouel></app-carsouel>-->
<div class="container-fluid custom-style">
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 slider">

      <div class="large-slider-wrapper">
        <ul class="slider-4 slider-whatever">
          <li><!-- slide 1 --></li>
          <li><!-- slide 2 --></li>
          <li><!-- slide 3 --></li>
          <li><!-- slide 4 --></li>
        </ul>
      </div>
  </div>
</div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 info">
    <h2>SABARAGAMUWA UNNIVERSITY OF SRILANKA</h2>
    <p>SUSL tends to encourage a close relationship between university
       and its alumni. With that they can increase alumni interest towards 
       university events affairs and also build a relationship among them self.
        University can involve them for the future developments and betterment
         of the university and also alumni can also get benefits in return.
  </p>
  </div>
</div>

<div class="row images">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl1.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl2.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl3.jpg" alt="Image" class="img-responsive">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 image">
    <img src="../../assets/susl4.jpg" alt="Image" class="img-responsive">
  </div>
</div>







<div class="content-two content">
    
    <p>{{contentBelow}}</p>
  </div>

</div>



<app-footer></app-footer>

