<div class="pos">
<div class="spacer"></div>
<app-carsouel></app-carsouel>

<div class="content-one content">
  <h1 class>SABARAGAMUWA UNIVERSITY OF SRI LANKA</h1>
  <p>Donec ac risus risus. Proin lacus nulla, bibendum aliquam nibh vel, viverra aliquam arcu. Ut eu tempus tellus. Maecenas euismod bibendum nisi, eget mollis urna sagittis sed. Duis molestie, metus ac facilisis pretium, urna nulla varius nisi, in volutpat tellus justo a neque. Sed ac mi dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacus dui, laoreet in urna eu, tristique lobortis odio. Donec dignissim erat metus, a molestie lorem vulputate eget.</p>
</div>

<div class="container-fluid">

    <div class="row recent-info-pallet">

        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
              <img src="../../assets/2..jpg" alt="image one" width=100%>
              <div class="card-spec">
                <h2>Blogs</h2>
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>News</h2>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>Events</h2>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-md-3 info-card">
            <div class="card">
                <img src="../../assets/2..jpg" alt="image one" width=100%>
                <div class="card-spec">
                  <h2>Careers</h2>
                </div>
              </div>
        </div>
      
      </div>
</div>


<div class="content-two content">
    
    <p>Donec ac risus risus. Proin lacus nulla, bibendum aliquam nibh vel, viverra aliquam arcu. Ut eu tempus tellus. Maecenas euismod bibendum nisi, eget mollis urna sagittis sed. Duis molestie, metus ac facilisis pretium, urna nulla varius nisi, in volutpat tellus justo a neque. Sed ac mi dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacus dui, laoreet in urna eu, tristique lobortis odio. Donec dignissim erat metus, a molestie lorem vulputate eget.</p>
  </div>

</div>

