<div class="container-fluid custom-form-style">
  <div class="row">

    <div class="col-sm-6 col-md-8">

    </div>
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class=" col-xs-12 col-sm-12 col-md-12 card register-form">
        <h2 class="col-xs-12 col-sm-12 col-md-12 register-heading">Register</h2>

        <div class="sss">
          <img src="../../assets/man.png" alt="" class="col-xs-12 col-sm-12 col-md-12 register-logo-icon">
        </div>
        <form class="example-form" (ngSubmit)="onRegister()" #f="ngForm">

          <div>
            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">

              <input type="text" matInput placeholder="firstName" name="firstName" [(ngModel)]="register.firstName" #firstName="ngModel">



            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-error *ngIf="firstName.touched">
              <mat-error *ngIf="firstName.errors?.required">

                Username is
                <strong>required</strong>
              </mat-error>
              <!-- <mat-error *ngIf="username.errors?.pattern">


                        Username is
                        <strong>Invalid</strong>
                    </mat-error> -->


            </mat-error>
          </div>

          <div>
            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">

              <input type="text" matInput placeholder="lastName" name="lastName" [(ngModel)]="register.lastName" #lastName="ngModel">


            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <mat-error *ngIf="lastName.touched">
              <mat-error *ngIf="lastName.errors?.required">

                Username is
                <strong>required</strong>
              </mat-error>
              <!-- <mat-error *ngIf="username.errors?.pattern">


                        Username is
                        <strong>Invalid</strong>
                    </mat-error> -->


            </mat-error>
          </div>

          <mat-form-field class="col-xs-12 col-sm-12 col-md-12">

            <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="birthDay" [(ngModel)]="register.birthDay" #birthDay="ngModel">

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div class="col-lg-12">
            <mat-error *ngIf="birthDay.touched">
              <mat-error *ngIf="birthDay.errors?.required">

                Username is
                <strong>required</strong>
              </mat-error>
              <!-- <mat-error *ngIf="username.errors?.pattern">

    
                            Username is
                            <strong>Invalid</strong>
                        </mat-error> -->


            </mat-error>

          </div>

          <div>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12">

              <mat-select placeholder="Gender" name="gender" [(ngModel)]="register.gender" #gen="ngModel">

                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{ gender.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-error *ngIf="gen.touched">
              <mat-error *ngIf="gen.errors?.required">

                Gender is
                <strong>required</strong>
              </mat-error>
            </mat-error>
          </div>




          <div>

            <mat-form-field class="col-xs-10 col-sm-10 col-md-10">
              <mat-select placeholder="Faculty" name="depaartment" [(ngModel)]="register.faculty" #fac="ngModel">

                <mat-option *ngFor="let faculty of faculties" [value]="faculty.value" (click)="departmentOfFaculty(faculty.facId)">
                  {{ faculty.viewValue }}
                </mat-option>


              </mat-select>
            </mat-form-field>

            <div class="col-xs-2 col-sm-2 col-md-2" (click)="openFacChooser()">+</div>
          </div>



          <div class=" col-xs-12 col-sm-12 col-md-12">
            <div *ngIf="facChooser">
              <input class=" col-xs-12 col-sm-12 col-md-12 form-control" [(ngModel)]="register.faculty" name="otherfaculty" type="text">
              <br>
              <br>
              <br>
              <button mat-raised-button color="warn">Add Faculty</button>
            </div>

          </div>






          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-error *ngIf="fac.touched">
              <mat-error *ngIf="fac.errors?.required">

                Faculty is
                <strong>required</strong>
              </mat-error>
            </mat-error>



          </div>

          <div>

            <mat-form-field class="col-xs-10 col-sm-10 col-md-10">
              <mat-select placeholder="Department" name="department" [(ngModel)]="register.department" #dep="ngModel">
                <mat-option *ngFor="let department of departments" [value]="department.value" (click)="degreeOfDepartment(department.depId)">

                  {{ department.viewValue }}
                </mat-option>


              </mat-select>
            </mat-form-field>

            <div class="col-xs-2 col-sm-2 col-md-2" (click)="openDepChooser()">+</div>
          </div>

          <div class=" col-xs-12 col-sm-12 col-md-12">
            <div *ngIf="depChooser">
              <input class=" col-xs-12 col-sm-12 col-md-12 form-control" name="otherdepartment" [(ngModel)]="register.department" type="text">
              <br>
              <br>
              <br>


              <mat-select placeholder="Faculty" name="depaartment" [(ngModel)]="register.faculty" #fac="ngModel">
                <mat-option *ngFor="let faculty of faculties" [value]="faculty.value" (click)="departmentOfFaculty(faculty.facId)">
                  {{ faculty.viewValue }}
                </mat-option>


              </mat-select>
              <br>
              <br>
              <br>
              <button mat-raised-button color="warn">Add Department</button>

            </div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-error *ngIf="dep.touched">
              <mat-error *ngIf="dep.errors?.required">

                Department is
                <strong>required</strong>
              </mat-error>
            </mat-error>
          </div>

          <div>

            <mat-form-field class="col-xs-10 col-sm-10 col-md-10">
              <mat-select placeholder="Degree program" name="degree" [(ngModel)]="register.degree" #deg="ngModel">
                <mat-option *ngFor="let degree of degrees" [value]="degree.value">

                  {{ degree.viewValue }}
                </mat-option>


              </mat-select>
            </mat-form-field>
            <div class="col-xs-2 col-sm-2 col-md-2" (click)="openDegChooser()">+</div>
          </div>

          <div class=" col-xs-12 col-sm-12 col-md-12">
            <div *ngIf="degChooser">

              <fieldset>
              <input class=" col-xs-12 col-sm-12 col-md-12 form-control" name="otherdegree" [(ngModel)]="register.degree" type="text">
              <mat-select placeholder="Faculty" name="depaartment" [(ngModel)]="register.faculty" #fac="ngModel">
                <mat-option *ngFor="let faculty of faculties" [value]="faculty.value" (click)="departmentOfFaculty(faculty.facId)">
                  {{ faculty.viewValue }}
                </mat-option>


              </mat-select>
              <br>
              <br>
              <br>
              <mat-select placeholder="Department" name="department" [(ngModel)]="register.department" #dep="ngModel">
                <mat-option *ngFor="let department of departments" [value]="department.value" (click)="degreeOfDepartment(department.depId)">
                  {{ department.viewValue }}
                </mat-option>


              </mat-select>
              <br>
              <br>
              <br>
              <button mat-raised-button color="warn">Add Degree</button>
            </fieldset>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-error *ngIf="deg.touched">
              <mat-error *ngIf="deg.errors?.required">

                Degree program is
                <strong>required</strong>
              </mat-error>
            </mat-error>
          </div>








          <div>
            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">
              <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="register.email" #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">


            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <mat-error *ngIf="email.touched">
              <mat-error *ngIf="email.errors?.required">

                Email is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="email.errors?.pattern">

                Email is
                <strong>Invalid</strong>
              </mat-error>
            </mat-error>
          </div>


          <div>
            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">

              <input type="text" matInput placeholder="UserName" name="username" [(ngModel)]="register.username" #username="ngModel" pattern="[a-zA-Z][a-zA-Z ]+">


            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <mat-error *ngIf="username.touched">
              <mat-error *ngIf="username.errors?.required">

                Username is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="username.errors?.pattern">

                Username is
                <strong>Invalid</strong>
              </mat-error>

            </mat-error>
          </div>





          <div>
            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">
              <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="register.password" #password="ngModel"

                minlength="6" maxlength="8">


            </mat-form-field>
          </div>
          <div class="col-lg-12">

            <mat-error *ngIf="password.touched">
              <mat-error *ngIf="password.errors?.required">

                Password is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="password.errors?.pattern">

                Password is
                <strong>Invalid</strong>
              </mat-error>
            </mat-error>
          </div>



          <div>

            <mat-form-field class="example-full-width col-xs-12 col-sm-12 col-md-12">
              <input type="password" matInput placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="register.confirmPassword"

                #confirmPassword="ngModel" validateEqual="password">


            </mat-form-field>

          </div>

          <div class="col-lg-12">

            <mat-error *ngIf="confirmPassword.touched">
              <mat-error *ngIf="confirmPassword.errors?.required">

                Confirm Password is
                <strong>required</strong>
              </mat-error>

              <mat-error *ngIf="!(confirmPassword.valid || confirmPassword.pristine)">

                Password amd Confirm Password is
                <strong>Not matched</strong>
              </mat-error>

            </mat-error>
          </div>




          <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 button-container">
            <button mat-raised-button color="accent">Register</button>
          </div>
        </form>
      </div>
    </div>



  </div>
</div>